@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  position: relative;
  background-color: white;
  color: #0d2d2c;
}

input,
textarea {
  outline: none;
}

.scroll::-webkit-scrollbar {
  width: 0px;
}
.scroll:hover::-webkit-scrollbar {
  width: 6px;
}
.scroll::-webkit-scrollbar-track {
  background: transparent;
}

.scroll::-webkit-scrollbar-thumb {
  background: rgb(62, 81, 89, 0.8);
}
